/* Asegurar que los elementos incluyan el padding y el borde en su tamaño total */
* {
    box-sizing: border-box;
}

body {
    background-image: url(fondo_hospital.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: green;
}

.iresponsive {
    padding: 0 6px;
    width: 100%; /* Para mejor adaptación en móviles */
}

.marco_exterior {
    width: 120%;
    max-width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 5px 0;
}

.marco_interior, .marco_tiempo {
    width: 90%;
    max-width: 265px;
    height: auto;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 6px;
    padding-bottom: 6px;
}

.marco_codigo {
    width: 90%;
    max-width: 265px;
    height: auto;
    border: 2px solid green;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 6px;
    padding-bottom: 6px;
}


.seccion {
    flex: 1; /* Cada sección ocupa el mismo espacio */
    font-size: 20px;
    border-right: 2px solid green; /* Línea divisoria */
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: red;
}

.seccion:last-child {
    border-right: none;
}

#display {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

button, .numero {
    font-size: 20px;
    background-color: transparent;
    border: 4px solid green;
    border-radius: 3px;
    color: green;
}

button:hover, .numero:hover {
    background: black;
}

/* Ajustes responsive para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .marco_exterior, .marco_interior, .marco_codigo, .marco_tiempo {
        width: 100%;
        max-width: none;
    }
    .botones {
        gap: 5px;
    }
}
