/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
  }

  body {
    background-image: url(fondo_phoenix.jpg);
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No se repite */
    background-attachment: fixed; /* Fija el fondo al hacer scroll */
  }
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 700px;
border: 5px solid rgba(255, 255, 0, 0.4); /* Amarillo con 50% de transparencia */
  border-radius: 10px; /* Bordes redondeados opcional */
}

.izquierda {
width: 30%;
}

.derecha {
width: 70%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
  background-color: rgba(104, 112, 219, 0.4);
}

#c2 {
  background-color: rgba(104, 112, 219, 0.4);
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

.linea {
  width: 100%;           /* El ancho de la línea será el 100% del contenedor */
  height: 3px;           /* El grosor de la línea será de 3 píxeles */
  background: linear-gradient(to right, #fbff00, #f5f260, #f3ea95); /* El color de la línea será rojo */
  margin: 20px 0;        /* Añade un espacio de 20px arriba y abajo */
}

.archivo-black-regular {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.protesto-container {
  display: inline-block;
  position: relative;
}

.fuente_frases {
  font-size: 14px; /* Tamaño de la fuente más grande */
  font-weight: bold;
  color: red;
  text-decoration: none;
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 5px #000; /* Sombra para dar más fuerza */
}

.icono_contactos {
  width: 20px;  /* Ancho pequeño */
  height: auto; /* Mantiene la proporción */
}


/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */