/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 700px;
}

.izquierda {
width: 30%;
}

.derecha {
width: 70%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#454dbf;
}

#c2 {
    background-image: url(jack_frost.jpg);
    background-size: cover; /* Para que cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Para que no se repita */
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

.linea {
  width: 100%;           /* El ancho de la línea será el 100% del contenedor */
  height: 3px;           /* El grosor de la línea será de 3 píxeles */
  background: linear-gradient(to right, #080c41, #141a72, #454dbf); /* El color de la línea será rojo */
  margin: 20px 0;        /* Añade un espacio de 20px arriba y abajo */
}

.archivo-black-regular {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}
/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */